@import url('fonts.css');

/* @import url('https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,500,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Seaweed+Script&family=Syne+Tactile&display=swap'); */

@import url('reset.css');



/* ============= Practice ============== */

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
}

.page__container {
	margin: 0 auto;
}

.title {
	margin-top: 40px;
	margin-bottom: 60px;
	font-size: 30px;
	color: black;
}




/* ============= Car ============== */

.car {
	width: 100%;
	height: 1100px;
	background: url(../img/vice-city.webp);

}

.car__body {
	position: relative;
	width: 800px;
	height: 300px;
	top: 850px;
	left: 1600px;
}

.car__main {
	position: absolute;
	width: 750px;
	height: 100px;
	border: 1px solid black;
	border-radius: 0% 100% 2% 98% / 100% 56% 44% 0%;
	background: pink;
	z-index: 4;
}

.car__top {
	position: absolute;
	bottom: 280px;
	left: 200px;
	width: 300px;
	height: 70px;
	border: 1px solid black;
	background: white;
	border-radius: 50% 50% 58% 42% / 100% 100% 0% 0%;
}

.car__front-window {
	position: absolute;
	bottom: 280px;
	left: 205px;
	width: 170px;
	height: 68px;
	border: 1px solid black;
	background: rgb(220, 220, 220);
	border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
}


.car__back-window {
	position: absolute;
	bottom: 280px;
	right: 310px;
	width: 110px;
	height: 68px;
	border: 1px solid black;
	background: rgb(220, 220, 220);
	border-radius: 0% 100% 100% 0% / 100% 100% 0% 0%;
}

.car__spoiler {
	border-radius: 100% 0% 0% 100% / 99% 30% 70% 1%;
	position: absolute;
	bottom: 260px;
	right: 60px;
	width: 250px;
	height: 50px;
	border: 1px solid black;
	background: pink;
}

.car__rearlights {
	border-radius: 0% 100% 98% 2% / 30% 50% 50% 70%;
	position: absolute;
	bottom: 275px;
	right: 45px;
	width: 30px;
	height: 20px;
	border: 1px solid black;
	background: rgb(251, 15, 15);
}

.car__headlights {
	position: absolute;
	bottom: 250px;
	left: -10px;
	width: 20px;
	height: 40px;
	border: 1px solid black;
	background: rgb(157, 255, 244);
	border-radius: 40%;
	z-index: 5;
}

.car__front-bumper {
	position: absolute;
	border-radius: 100% 0% 0% 100% / 46% 50% 50% 54%;
	bottom: 198px;
	left: -30px;
	width: 60px;
	height: 35px;
	border: 1px solid black;
	background: rgb(192, 192, 192);
	z-index: 5;
}

.car__back-bumper {
	position: absolute;
	border-radius: 0% 100% 100% 0% / 46% 50% 50% 54%;
	bottom: 198px;
	right: 40px;
	width: 60px;
	height: 35px;
	border: 1px solid black;
	background: rgb(192, 192, 192);
	z-index: 5;
}

.car__door {
	position: absolute;
	bottom: 200px;
	left: 205px;
	width: 170px;
	height: 96px;
	border: 1px solid black;
	background: pink;
	z-index: 7;
}

.car__door-handle {
	position: absolute;
	bottom: 270px;
	left: 330px;
	width: 28px;
	height: 6px;
	background: rgb(192, 192, 192);
	border: 1px solid black;
	border-radius: 0px 0px 5px 5px;
	z-index: 7;
}

.car__front-wheel {
	position: absolute;
	bottom: 170px;
	left: 35px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	border: 4px dashed black;
	z-index: 7;

}

.car__back-wheel {
	position: absolute;
	bottom: 170px;
	right: 220px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	border: 4px dashed black;
	z-index: 2;

}

.car__front-wheel-element {
	position: absolute;
	bottom: 190px;
	left: 55px;
	width: 60px;
	height: 60px;
	background-color: grey;
	border-radius: 50%;
	border: 5px dashed black;
	z-index: 7;
}

.car__back-wheel-element {
	position: absolute;
	bottom: 189.5px;
	right: 239px;
	width: 60px;
	height: 60px;
	background-color: grey;
	border-radius: 50%;
	border: 5px dashed black;
	z-index: 3;
}

.car__front-wheel-bolt {
	position: absolute;
	bottom: 213px;
	left: 78px;
	width: 13px;
	height: 13px;
	background-color: black;
	border-radius: 50%;
	z-index: 7;
}

.car__front-wheel-arch {
	position: absolute;
	bottom: 200px;
	left: 28px;
	width: 115px;
	height: 75px;
	background-color: black;
	border-radius: 52% 48% 100% 0% / 98% 100% 0% 2%;
	z-index: 5;
}

.car__back-wheel-arch {
	position: absolute;
	bottom: 200px;
	right: 215px;
	width: 110px;
	height: 40px;
	border: 2px solid black;
	background-color: pink;
	border-radius: 52% 48% 100% 0% / 98% 100% 0% 2%;
	z-index: 5;
}


.car__headlights:hover {
	box-shadow: -20px 3px 20px 15px rgb(255, 255, 62);
}

.car__rearlights:hover {
	box-shadow: 3px 3px 10px orangered;
	border: 2px solid orangered;
}


@keyframes rotate {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: -360deg;
	}
}

.car__front-wheel {
	animation: rotate 7s linear 2 alternate 1s forwards;
	/* animation-name: rotate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-delay: 2s; */
}

.car__back-wheel {
	animation: rotate 7s linear 2 alternate 1s forwards;
	/* animation-name: rotate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-delay: 1s; */
}

.car__front-wheel-element {
	animation: rotate 7s linear 2 alternate 1s forwards;
	/* animation-name: rotate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-delay: 1s; */
}

.car__back-wheel-element {
	animation: rotate 7s linear 2 alternate 1s forwards;
	/* animation-name: rotate;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-delay: 1s; */
}

@keyframes move {
	0% {
		translate: 0px 0px;
	}

	100% {
		translate: -2500px 0px;
	}
}

.car__body {
	animation: move 7s linear 2 alternate 1s forwards;
	/* animation-name: move;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-delay: 1s; */
}

.car__body:hover {
	animation-play-state: paused;
}

.car__front-wheel:hover {
	animation-play-state: paused;
}

.car__back-wheel:hover {
	animation-play-state: paused;
}

.car__front-wheel-element:hover {
	animation-play-state: paused;
}

.car__back-wheel-element:hover {
	animation-play-state: paused;
}