/* @import url('fonts.css');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,500,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Seaweed+Script&family=Syne+Tactile&display=swap'); */

/* @import url('reset.css'); */


/* body {
	font-family: "Aladin", system-ui;
	font-weight: 400;
	font-style: normal;
} */