@import url(reset.css);

.title {
	color: red;
}

.text {
	color: green;
}

#some-id {
	color: green;
}

[class*="lock"] {
	color: brown;
}

div.text {
	color: green;

}

.text a {
	color: blue;
}

.text>li {
	color: green;
}

.text~li {
	color: red;
}